<li class="menu-items">
    <div class="card">
        <img src="{{image}}" alt="" class="card__image">
        <div class="card__content">
            <h2 class="card__name">{{name}}</h2>
            <p class="card__price">
                <i class="card__price-icon"></i>
                {{price}}
            </p>
        </div>
        <button class="button-item">
            Удалить
        </button>
    </div>
</li>